<ng-container *ngIf="nota$ | async as nota">
  <div class="header">
    <h2>Nota Fiscal</h2>
  </div>

  <dl>
    <dt>Divisao</dt>
    <dd>{{ nota.divisao }}</dd>

    <dt>Serie</dt>
    <dd>{{ nota.serie }}</dd>

    <dt>Documento</dt>
    <dd>{{ nota.documento }}</dd>
  </dl>

  <mat-divider></mat-divider>

  <dl>
    <dt>Situação</dt>
    <dd [ngClass]="nota.situacao | notaFiscalSituacaoClass">
      {{ nota.situacao | notaFiscalSituacao }}
    </dd>

    <dt>Emissão</dt>
    <dd>{{ nota.emissao | date: "shortDate" }}</dd>
  </dl>

  <mat-divider></mat-divider>
  <br />

  <span>Chave NFe</span>
  <p style="word-break: break-all">{{ nota.chave }}</p>

  <mat-divider></mat-divider>

  <dl>
    <dt>Total Produtos</dt>
    <dd>{{ nota.totalProdutos | currency }}</dd>

    <dt>Total Nota</dt>
    <dd>{{ nota.totalNota | currency }}</dd>
  </dl>
</ng-container>
