<mat-drawer-container class="flex-container">
  <mat-drawer-content class="flex-container">
    <app-pedido-toolbar></app-pedido-toolbar>

    <mat-divider></mat-divider>

    <div class="container" appMoveTopOnNavigation>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>

  <mat-drawer
    [opened]="opened"
    mode="side"
    position="end"
    appDrawerAutoMode
    (closedStart)="removeOutletRoute()"
  >
    <app-pedido-drawer>
      <router-outlet
        name="detalhes"
        (deactivate)="opened = false"
        (activate)="opened = true"
      ></router-outlet>
    </app-pedido-drawer>
  </mat-drawer>
</mat-drawer-container>
