.mat-drawer-content {
  padding: 32px;
  overflow: auto;
}

.mat-drawer {
  width: 420px;
}

.mat-drawer-container {
  height: 100%;
}

.destacar {
  background: rgba(0, 0, 0, 0.2);
}

.mat-button {
  width: 120px;
}
