<mat-toolbar color="primary">
  <h1>Pedido de Venda</h1>

  <span style="flex: auto"></span>

  <button mat-button routerLink="/pedidos/525054" routerLinkActive="destacar">
    Aberto
  </button>
  <button mat-button routerLink="/pedidos/525100" routerLinkActive="destacar">
    Pendente
  </button>
  <button mat-button routerLink="/pedidos/525063" routerLinkActive="destacar">
    Atendido
  </button>
  <button mat-button routerLink="/pedidos/525089" routerLinkActive="destacar">
    Cancelado
  </button>
</mat-toolbar>

<mat-drawer-container class="flex-container">
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>

  <mat-drawer
    [opened]="opened"
    mode="side"
    position="end"
    appDrawerAutoMode
    (closedStart)="removeOutletRoute()"
  >
    <app-pedido-drawer>
      <router-outlet
        name="detalhes"
        (deactivate)="opened = false"
        (activate)="opened = true"
      ></router-outlet>
    </app-pedido-drawer>
  </mat-drawer>
</mat-drawer-container>
