.mat-drawer-content {
  display: flex;
}

.container {
  flex: auto;
  padding: 32px;
  overflow: auto;
}

.mat-drawer {
  width: 400px;
  max-width: 100%;
}

.mat-drawer-container {
  height: 100%;
}
