<mat-nav-list *ngIf="itens?.length; else empty">
  <mat-list-item
    [ngClass]="item.situacao | pedItemSituacaoClass"
    *ngFor="let item of itens"
    [routerLink]="[{ outlets: { detalhes: ['item', item.sequencia] } }]"
  >
    <span mat-line>{{ item.sequencia }} - {{ item | itemConfigId }}</span>
    <span mat-line class="descricao">
      {{ item.descricao }}
    </span>
    <span [ngClass]="item.situacao | pedItemSituacaoClass">
      {{ item.situacao | pedItemSituacao }}
    </span>
  </mat-list-item>
</mat-nav-list>

<ng-template #empty>
  <mat-list>
    <mat-list-item>
      <span mat-line>Nenhum item cadastrado</span>
      <span mat-line class="descricao">
        Clique em adicionar para incluir um item ao pedido
      </span>
    </mat-list-item>
  </mat-list>
</ng-template>
