<mat-toolbar>
  <h2>Detalhes</h2>

  <span style="flex: auto"></span>

  <button
    [routerLink]="[{ outlets: { detalhes: [] } }]"
    mat-icon-button
    tabindex="-1"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-divider></mat-divider>

<div class="flex-container conteudo">
  <ng-container
    *ngIf="{ loading: loading$ | async, message: message$ | async } as vm"
  >
    <div *ngIf="vm.loading" class="flex-container center-itens">
      <mat-spinner></mat-spinner>

      <h3 class="message" *ngIf="vm.message">{{ vm.message }}</h3>
    </div>

    <div
      class="flex-container"
      [ngStyle]="{ display: vm.loading ? 'none' : 'unset' }"
    >
      <ng-content></ng-content>
    </div>
  </ng-container>
</div>
