<ng-container *ngIf="pedido$ | async as pedido">
  <h2>Situação</h2>

  <ng-container *ngIf="pedido.estado === 'A'; else pedidoFechado">
    Pedido deve estar fechado para exibir essas informações.
  </ng-container>

  <ng-template #pedidoFechado>
    <dl>
      <dt>Situação</dt>
      <dd [ngClass]="pedido.situacao | pedidoSituacaoClass">
        {{ pedido.situacao | pedidoSituacao }}
      </dd>
    </dl>

    <mat-divider></mat-divider>
    <br />

    <h2>Analise Financeira</h2>

    <dl>
      <dt>Situação</dt>
      <dd [ngClass]="pedido.financeiro | pedidoAnaliseClass">
        {{ pedido.financeiro | pedidoAnalise }}
      </dd>

      <dt>Data</dt>
      <dd>{{ (pedido.analiseFinanceira.data | date: "shortDate") || "-" }}</dd>

      <dt>Hora</dt>
      <dd>{{ pedido.analiseFinanceira.hora || "-" }}</dd>
    </dl>

    <p *ngIf="pedido.analiseFinanceira.motivoAprovacao">
      {{ pedido.analiseFinanceira.motivoAprovacao }}
    </p>

    <p *ngIf="pedido.analiseFinanceira.motivoRejeicao">
      {{ pedido.analiseFinanceira.motivoRejeicao }}
    </p>

    <mat-divider></mat-divider>
    <br />

    <h2>Analise Comercial</h2>

    <dl>
      <dt>Situação</dt>
      <dd [ngClass]="pedido.comercial | pedidoAnaliseClass">
        {{ pedido.comercial | pedidoAnalise }}
      </dd>

      <dt>Data</dt>
      <dd>{{ (pedido.analiseComercial.data | date: "shortDate") || "-" }}</dd>

      <dt>Hora</dt>
      <dd>{{ pedido.analiseComercial.hora || "-" }}</dd>
    </dl>

    <p *ngIf="pedido.analiseComercial.motivoAprovacao">
      {{ pedido.analiseComercial.motivoAprovacao }}
    </p>

    <p *ngIf="pedido.analiseComercial.motivoRejeicao">
      {{ pedido.analiseComercial.motivoRejeicao }}
    </p>
  </ng-template>
</ng-container>
