<mat-toolbar color="primary">
  <h1>Pedido de Venda</h1>

  <span style="flex: auto"></span>

  <button mat-button routerLink="/pedidos/525054" routerLinkActive="destacar">
    Aberto
  </button>
  <button mat-button routerLink="/pedidos/525100" routerLinkActive="destacar">
    Pendente
  </button>
  <button mat-button routerLink="/pedidos/525063" routerLinkActive="destacar">
    Atendido
  </button>
  <button mat-button routerLink="/pedidos/525089" routerLinkActive="destacar">
    Cancelado
  </button>
</mat-toolbar>
