@use "sass:map";
@use "@angular/material" as mat;

$notification-theme: (
  info: mat.get-color-from-palette(mat.$blue-palette, 400),
  success: mat.get-color-from-palette(mat.$green-palette, 400),
  warning: mat.get-color-from-palette(mat.$orange-palette, 400),
  error: mat.get-color-from-palette(mat.$red-palette, 400),
);

@mixin theme() {
  $success-color: map.get($notification-theme, success);
  $warning-color: map.get($notification-theme, warning);
  $info-color: map.get($notification-theme, info);
  $error-color: map.get($notification-theme, error);

  .success-notification,
  .info-notification,
  .warning-notification,
  .error-notification {
    border-left: 5px solid;

    &::before {
      float: left;
      margin-right: 10px;
      font-size: 16px;
    }
  }

  .info-notification {
    border-color: $info-color;
    &::before {
      content: "✱";
      color: $info-color;
    }
  }

  .success-notification {
    border-color: $success-color;
    &::before {
      content: "✔";
      color: $success-color;
    }
  }

  .warning-notification {
    border-color: $warning-color;
    &::before {
      content: "⚠️";
      color: $warning-color;
    }
  }

  .error-notification {
    border-color: $error-color;
    &::before {
      content: "🗙";
      color: $error-color;
    }
  }
}
