@use "sass:map";
@use "@angular/material" as mat;

@mixin theme($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, "primary");
  $accent-palette: map.get($color-config, "accent");
  $warn-palette: map.get($color-config, "warn");

  .accent {
    color: mat.get-color-from-palette($accent-palette);
    font-weight: 500 !important;
  }

  .primary {
    color: mat.get-color-from-palette($primary-palette);
    font-weight: 500 !important;
  }

  .warn {
    color: mat.get-color-from-palette($warn-palette);
    font-weight: 500 !important;
  }
}
