<ng-container *ngIf="pedido$ | async as pedido">
  <h2>Mais Informações</h2>

  <dl>
    <dt>Divisão</dt>
    <dd>{{ pedido.divisao }}</dd>

    <dt>Nro. Pedido</dt>
    <dd>{{ pedido.pedido }}</dd>

    <dt>Tipo NF</dt>
    <dd>{{ pedido.tipoNFDesc }}</dd>
  </dl>

  <mat-divider></mat-divider>

  <dl>
    <dt>Cliente</dt>
    <dd>{{ pedido.clienteNome }}</dd>

    <dt>Pedido Cliente</dt>
    <dd>{{ pedido.clientePedido }}</dd>
  </dl>

  <mat-divider></mat-divider>

  <dl>
    <dt>Digitação</dt>
    <dd [ngClass]="pedido.estado | pedidoEstadoClass">
      {{ pedido.estado | pedidoEstado }}
    </dd>

    <dt>Situacao</dt>
    <dd [ngClass]="pedido.situacao | pedidoSituacaoClass">
      {{ pedido.situacao | pedidoSituacao }}
    </dd>

    <dt>Analise Financeira</dt>
    <dd>{{ pedido.financeiro | pedidoAnalise }}</dd>

    <dt>Analise Comercial</dt>
    <dd>{{ pedido.comercial | pedidoAnalise }}</dd>
  </dl>

  <mat-divider></mat-divider>

  <dl>
    <dt>Entrada</dt>
    <dd>{{ pedido.entrada | date: "shortDate" }}</dd>

    <dt>Faturamento Previsto</dt>
    <dd>{{ pedido.entregaPrev | date: "shortDate" }}</dd>

    <dt>Entrega Solicitada</dt>
    <dd>{{ pedido.entregaSolic | date: "shortDate" }}</dd>
  </dl>

  <ng-container *ngIf="pedido.observacoes">
    <mat-divider></mat-divider>
    <br />
    <p class="accent">{{ pedido.observacoes }}</p>
  </ng-container>

  <mat-divider></mat-divider>

  <dl>
    <dt>Representante</dt>
    <dd>{{ pedido.represNome }}</dd>

    <dt>Pedido Representante</dt>
    <dd>{{ pedido.pedido }}</dd>
  </dl>

  <mat-divider></mat-divider>

  <dl>
    <dt>Transportadora</dt>
    <dd>{{ pedido.transpNome }}</dd>

    <dt>Tipo Frete</dt>
    <dd>{{ pedido.tipoFrete | tipoFrete }}</dd>
  </dl>

  <mat-divider></mat-divider>

  <dl>
    <dt>Tabela Preco</dt>
    <dd>{{ pedido.tabPrecoId }}</dd>

    <dt>Condição Pagamento</dt>
    <dd>{{ pedido.condPgtoParc }}</dd>
  </dl>

  <ng-container *ngIf="pedido.compradorNome">
    <mat-divider></mat-divider>

    <dl>
      <dt>Comprador</dt>
      <dd>{{ pedido.compradorNome }}</dd>

      <dt>Email</dt>
      <dd>{{ pedido.compradorEmail }}</dd>

      <dt>Telefone</dt>
      <dd>{{ pedido.compradorFone }}</dd>
    </dl>
  </ng-container>
</ng-container>
