<h2>Adicionar Item</h2>

<form [formGroup]="form" class="flex-container" (ngSubmit)="submit()">
  <app-pedido-item-form-control
    [control]="itemId"
  ></app-pedido-item-form-control>

  <mat-form-field>
    <mat-label>Unitário</mat-label>
    <input matInput formControlName="unitario" name="unitario" type="number" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Quantidade</mat-label>
    <input matInput formControlName="quantidade" name="qtd" type="number" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Complemento</mat-label>
    <textarea matInput formControlName="complemento"></textarea>
  </mat-form-field>

  <span style="flex: auto"></span>

  <div class="button-wrapper">
    <button mat-button type="button">Cancelar</button>
    <button mat-flat-button type="submit" color="primary">Salvar</button>
  </div>
</form>
