.button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.mat-flat-button {
  width: 130px;
}

.mat-button {
  margin-right: 16px;
  width: 110px;
}

.linha {
  display: flex;
  column-gap: 1em;
}

#quantidade,
#unitario {
  max-width: calc(50% - 0.5em);
}

dl {
  margin-top: 0;
}

#pedido-info {
  &::before {
    content: " (";
  }
  &::after {
    content: ")";
  }
}
