<mat-nav-list *ngIf="notas?.length">
  <h3 mat-subheader>Notas Fiscais</h3>

  <ng-container *ngFor="let n of notas; let last = last">
    <mat-list-item
      [routerLink]="[
        { outlets: { detalhes: ['nota', n.divisao, n.serie, n.documento] } }
      ]"
    >
      <span mat-line> {{ n.documento }} </span>
      <span mat-line> {{ n.chave }} </span>

      <span [ngClass]="n.situacao | notaFiscalSituacaoClass">
        {{ n.situacao | notaFiscalSituacao }}
      </span>
    </mat-list-item>

    <mat-divider *ngIf="!last"></mat-divider>
  </ng-container>
</mat-nav-list>
