<ng-container *ngIf="item$ | async as item">
  <app-pedido-item-header
    *ngIf="pedido$ | async as pedido"
    [item]="item"
    [pedido]="pedido"
  ></app-pedido-item-header>

  <app-pedido-item-info-id [item]="item"></app-pedido-item-info-id>

  <mat-divider></mat-divider>
  <br />

  <p>{{ item.descricao }}</p>

  <mat-divider></mat-divider>

  <ng-container *ngIf="item.complemento">
    <br />

    <p class="accent">{{ item.complemento }}</p>

    <mat-divider></mat-divider>
  </ng-container>

  <dl>
    <dt>Quantidade</dt>
    <dd>{{ item.quantidade }} {{ item.um }}</dd>

    <dt>Líquida</dt>
    <dd>{{ item.qtdLiquida }} {{ item.um }}</dd>

    <dt>Pendente</dt>
    <dd>{{ item.pendente }} {{ item.um }}</dd>
  </dl>

  <mat-divider></mat-divider>

  <dl class="last-element-padding">
    <dt>Valor Unitario</dt>
    <dd>{{ item.unitario | currency }}</dd>

    <ng-container
      *ngIf="item.descontoCascata !== '0' && item.descontoCascata !== ''"
    >
      <dt>Desconto Cascata</dt>
      <dd>{{ item.descontoCascata }}%</dd>
    </ng-container>

    <ng-container *ngIf="item.descontoDestacado">
      <dt>Desconto Destacado</dt>
      <dd>{{ item.descontoDestacado | currency }}</dd>
    </ng-container>

    <ng-container *ngIf="item.acrescimo">
      <dt>Acréscimo Financeiro</dt>
      <dd>{{ item.acrescimo | currency }}</dd>
    </ng-container>

    <dt>Total do Item</dt>
    <dd>{{ item.total | currency }}</dd>
  </dl>
</ng-container>
