<ng-container *ngIf="item$ | async as item">
  <h2>Item</h2>

  <dl>
    <dt>Código</dt>
    <dd>{{ item | itemConfig }}</dd>

    <ng-container *ngIf="item.referencia">
      <dt>Refêrencia</dt>
      <dd>{{ item.referencia }}</dd>
    </ng-container>

    <dt>Situação</dt>
    <dd [ngClass]="item.situacao | pedItemSituacaoClass">
      {{ item.situacao | pedItemSituacao }}
    </dd>
  </dl>

  <mat-divider></mat-divider>
  <br />

  <p>{{ item.descricao }}</p>

  <mat-divider></mat-divider>

  <ng-container *ngIf="item.complemento">
    <br />

    <p>{{ item.complemento }}</p>

    <mat-divider></mat-divider>
  </ng-container>

  <dl>
    <dt>Quantidade</dt>
    <dd>{{ item.quantidade }} {{ item.um }}</dd>

    <dt>Pendente</dt>
    <dd>{{ item.pendente }} {{ item.um }}</dd>
  </dl>

  <mat-divider></mat-divider>

  <dl>
    <dt>Valor Unitario</dt>
    <dd>{{ item.unitario | currency }}</dd>

    <ng-container *ngIf="item?.descontoCascata !== '0'">
      <dt>Desconto Cascata</dt>
      <dd>{{ item.descontoCascata }}</dd>
    </ng-container>

    <ng-container *ngIf="item.descontoDestacado">
      <dt>Desconto Destacado</dt>
      <dd>{{ item.descontoDestacado | currency }}</dd>
    </ng-container>

    <ng-container *ngIf="item.acrescimo">
      <dt>Acréscimo Financeiro</dt>
      <dd>{{ item.acrescimo | currency }}</dd>
    </ng-container>

    <dt>Total do Item</dt>
    <dd>{{ item.total | currency }}</dd>
  </dl>

  <br />

  <span style="flex: auto"></span>

  <button mat-stroked-button color="primary">Auditoria</button>
  <button mat-stroked-button color="error">Excluir</button>
</ng-container>
