<mat-nav-list class="grid">
  <mat-list-item>
    <p mat-line>
      {{ pedido.clienteNome }}
    </p>
    <p mat-line>Cliente</p>
    <mat-icon mat-list-icon>face_unlock</mat-icon>
  </mat-list-item>

  <mat-list-item>
    <p mat-line [ngClass]="pedido.situacao | pedidoSituacaoClass">
      {{ pedido.situacao | pedidoSituacao }}
    </p>
    <p mat-line>Situação</p>
    <mat-icon mat-list-icon>radar</mat-icon>
  </mat-list-item>

  <mat-list-item>
    <p mat-line>{{ pedido.entrada | date: "shortDate" }}</p>
    <p mat-line>Entrada</p>
    <mat-icon mat-list-icon>calendar_today</mat-icon>
  </mat-list-item>
</mat-nav-list>
