<mat-list>
  <mat-list-item>
    <mat-icon mat-list-icon>face_unlock</mat-icon>
    <p mat-line>{{ pedido.clienteNome }}</p>
    <p mat-line>Cliente</p>

    <button
      mat-button
      mat-icon-button
      [routerLink]="[{ outlets: { detalhes: ['cliente'] } }]"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </mat-list-item>

  <ng-container *ngIf="pedido.estado === 'A'; else pedidoFechado">
    <mat-list-item>
      <mat-icon mat-list-icon>pending_actions</mat-icon>
      <p mat-line [ngClass]="pedido.estado | pedidoEstadoClass">
        {{ pedido.estado | pedidoEstado }}
      </p>
      <p mat-line>Estado</p>
    </mat-list-item>
  </ng-container>

  <ng-template #pedidoFechado>
    <mat-list-item>
      <mat-icon mat-list-icon>
        {{ pedido.situacao | pedidoSituacaoIcon }}
      </mat-icon>
      <p mat-line [ngClass]="pedido.situacao | pedidoSituacaoClass">
        {{ pedido.situacao | pedidoSituacao }}
      </p>
      <p mat-line>Situação</p>
    </mat-list-item>
  </ng-template>

  <mat-list-item>
    <p mat-line>{{ pedido.entrada | date: "shortDate" }}</p>
    <p mat-line>Entrada</p>
    <mat-icon mat-list-icon>calendar_today</mat-icon>
  </mat-list-item>

  <mat-list-item>
    <mat-icon mat-list-icon>attach_money</mat-icon>
    <p mat-line>{{ pedido.totalPedido | currency }}</p>
    <p mat-line>Total</p>

    <button
      mat-button
      mat-icon-button
      [routerLink]="[{ outlets: { detalhes: ['totais-do-pedido'] } }]"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
