<h2>Remover Item do Pedido</h2>

<ng-container *ngIf="item$ | async as item">
  <app-pedido-item-info-id [item]="item"></app-pedido-item-info-id>
</ng-container>

<br />

<span>Confirma a remoção do item do pedido?</span>

<br />

<app-error-message *ngIf="erro" [message]="erro"></app-error-message>

<div class="fill-space"></div>

<div class="action-buttons">
  <button mat-button routerLink="..">Cancelar</button>
  <button mat-flat-button color="warn" (click)="excluir()">Remover</button>
</div>
