<mat-toolbar color="primary">
  <button mat-icon-button (click)="onClick()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>Sistemas de Informação</h1>

  <span style="flex: auto"></span>

  <button mat-button routerLink="/pedidos/555774">EM ABERTO</button>
  <button mat-button routerLink="/pedidos/555758">PENDENTE</button>
  <button mat-button routerLink="/pedidos/555042">ATENDIDO</button>
  <button mat-button routerLink="/pedidos/553786">CANCELADO</button>

  <span style="flex: auto"></span>

  <button mat-icon-button>
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>
